.center-text {
    text-align: center;
    font-size: large;
}

.copyright {
    color: white;
}

.company-logo {
    top: -8px;
    position: relative;
}

.footer-bg {
    background-color: #f9d230;
    padding-top: 20px;
    padding-bottom: 20px;
}