.menuItemContainer {
    padding: 10px;
}


.menu h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
}
.menuTitle {
    text-align: center;
    font-family: 'SeoulHangangC';
}

.home-div {
    background-color: black;
}

#menu-div {
    margin: auto;
}